.accordion button {
  box-shadow: none;
}

.accordion .card-header .dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 1.4em;
  right: 20px;
  transition: all .25s ease-out;
  transform: rotate(0turn);
}

.accordion .card-header button[aria-expanded="false"].dropdown-toggle::after {
  transition: all .25s ease-out;
  transform: rotate(-0.25turn);
}

.accordion .card-header {
  border-radius: 40px !important;
  border: none;
  background-color: lightgray;
  margin: 5px 0;
  padding: 0;
  transition: all 0.2s ease-out;
}

.accordion .card-header:hover {
  transition: all 0.2s ease-out;
  background-color: dimgray;
}

.accordion .card-header:focus {
  background-color: dimgray;
}

.accordion .card {
  background-color: transparent;
  border: none;
}

.accordion .card-body {
  padding-top: 2px;
  margin: 0px 20px;
}

.accordion h2 button {
  color: #303030;
  text-decoration: none;
  border-radius: 30px;
  float: left;
}

.accordion h2 button:hover {
  color: white;
  text-decoration: none;
}

.accordion h2 button:focus {
  text-decoration: none;
  /* background-color: dimgray; */
  /* color: white; */
}
