@import 'node_modules/bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --inverse-font-color: #e8e8e8;
  --side-font-color: #e8e8e8;
  --font-color: #1e1e1e;
  --heading-color: #141414;
  --bg-color: #fdfdfd;
  --primary-color: #455569;
  --secondary-color: #637A96;
  --hover-color: #7691B3;
  --accent-color: #3d4b5c;
  /* Based on complementary color wheel (#F0F2FF base color) */
  --complementary-color: #B3A784;
}

[data-theme="dark"] {
  --inverse-font-color: #1e1e1e;
  --side-font-color: #f2f2f2;
  /* Based on shades color wheel (#3E3F42 base color) */
  --font-color: #f2f2f2;
  --heading-color: #f7f7f7;
  --bg-color: #3c3f4d;
  --primary-color: #303033;
  --secondary-color: #4A4B4F;
  --hover-color: #C2C4CF;
  --accent-color: #86888F;
  /* Based on complementary color wheel (#3E3F42 base color) */
  --complementary-color: #8F866A;
}

@import 'node_modules/bootstrap-vue/src/index.scss';
